@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Public Sans', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f4f6;
  color: #0f172a;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}

/* Custom transitions */
.transition-all {
  transition-duration: 300ms;
}